# Configurações do Servidor
PORT=3000

# Banco de dados MySQL
# Formato: mysql://usuario:senha@host:porta/nomeBancoDados
DATABASE_URL="mysql://root:@localhost:3306/db_dsw_maria_beatriz_3TIA"

NODE_ENV=development
